[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
# azure-storage = "==0.37.0"
beautifulsoup4 = "==4.11.2"
fastapi = "==0.94.0"
flask = "==2.0.2"
fuzzywuzzy = "==0.18.0"
jieba = "==0.42.1"
requests = "==2.26.0"
tiktoken = "==0.3.1"
uvicorn = "==0.21.0"
xpinyin = "==0.7.6"
markdown = "==3.3.4"
mdit-py-plugins = "==0.3.5"
pygments = "==2.14.0"
regex = "==2022.7.9"
graiax-playwright = "==0.2.1"
graiax-text2img-playwright = "==0.3.0"
python-levenshtein = "==0.20.9"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
